# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs
logs/
*.log

# Local DB / storage
app/storage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/